<section class="section--form" id="contact">
	<div class="block--form-wrap max--wrap spacing--gutter-mob">
	{% if home.contacttitle %}<h3 class="font--italic text--center">{{home.contacttitle}}</h3>{% endif %}
	{{ function('do_shortcode', home.contactform) }}
	<div class="block--icons">
	
		<a href="{{social.linkedin}}"><i class="icon-linkedin" data-grunticon-embed></i></a>
		<a class="phone footerphone" href="tel:{{social.phone}}" data-phone="{{social.phone}}"><i class="icon-phone" data-grunticon-embed></i></a>
	</div>
</div>
</section>